{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static './css/style.css' %}">
</head>
<body>
    <header class="header">
        <div class="container">
            <button class="menu-button" onclick="burgerMenuAction()">
                <img src="{% static './images/menu.svg' %}" alt="Menu">
            </button>
        </div>
    </header>
    <div id="menu-list" style="display: none;">
        <div class="container">
            <ul class="menu-list">
                <li class="menu-list__item">
                    <a href="{% url 'home_page' %}" class="menu-list__link">
                        <img src="{% static './images/menu-list/home.svg' %}" alt="Home">
                        <span>Главная</span>
                    </a>
                </li>
                <li class="menu-list__item">
                    <a href="{% url 'jobs_page' %}" class="menu-list__link">
                        <img src="{% static './images/menu-list/jobs.svg' %}" alt="Jobs">
                        <span>Вакансии</span>
                    </a>
                </li>
                <li class="menu-list__item">
                    <a href="{% url 'categories_page' %}" class="menu-list__link">
                        <img src="{% static './images/menu-list/categories.svg' %}" alt="Categories">
                        <span>Категории</span>
                    </a>
                </li>
                <li class="menu-list__item">
                    <a href="{% url 'guides_page' %}" class="menu-list__link">
                        <img src="{% static './images/menu-list/guides.svg' %}" alt="Guides">
                        <span>Гайды</span>
                    </a>
                </li>
                {% if not user.is_authenticated %}
                <li class="menu-list__item">
                    <a href="{% url 'sign_up_page' %}" class="menu-list__link">
                        <img src="{% static './images/menu-list/signup.svg' %}" alt="Signup">
                        <span>Регистрация</span>
                    </a>
                </li>
                <li class="menu-list__item">
                    <a href="{% url 'login_page' %}" class="menu-list__link">
                        <img src="{% static './images/menu-list/login.svg' %}" alt="Login">
                        <span>Вход</span>
                    </a>
                </li>
                {% else %}
                <li class="menu-list__item">
                    <a href="{% url 'logout_action' %}" class="menu-list__link">
                        <img src="{% static './images/menu-list/logout.svg' %}" alt="Logout">
                        <span>{{ user.username }} : Выход</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
    <main>
        {% block content %}
        {% endblock %}
    </main>


    <script src="{% static './js/script.js' %}"></script>
</body>
</html>